*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav {
    width: 85%;
    background-color: #222;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 20px;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    list-style: none;
    padding: 0px 5px;
}

nav ul li a{
    color: #fff;
    font-size: 15px;
    text-decoration: none;
}
