:root {
    font-family:'quicksand', sans-serif;
    min-height: 100vh;
    max-width: 1280px;
    background-color: #ffffff;
    margin: 0 auto;
}

body {
    margin: 0px !important;
    background-color: white;
    border:  1px solid #ddd;
}

.page-container {

}



.nav {
    width: 85%;
    background-color: #222;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0.8px 100px;
}

nav {
    background-color: #222222;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    align-items: center;
}

nav .logo img {
    width: 56px;
    height: 56px;
    padding: 8px;
    border-radius: 50%;
}
nav .logo .title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding-left: 40px;
}


nav ul{
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    list-style: none;
}

nav ul li{
    color:white;
    padding: 10px 20px;
    background-color: #333333;
}

    nav ul li:hover {
        background-color: #222222;
    }

    nav ul li.active {
        background-color: #222222;
    }

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;

}
  /* Tablets */
  @media all and (max-width: 800px) {
    nav {
        justify-content: flex-start;
    }
    nav ul {
        justify-content: space-between;
    }
  }

  /* Phones */
  @media all and (max-width: 600px) {
    nav{
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        width: 100%;
        flex-direction: column;
        align-items: stretch;
    }
    nav ul li {
       
        text-align: center;
    }
}
  

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 450px;
    background-image: url(//unsplash.it/900/450?blur);
    background-size: cover;
    background-color: #333333;
    text-align: center;

}

@keyframes appear {
    from {
        opacity: 0.0;
        top: -100px;
    }
    to {
        opacity:1.0 ;
        top: 0.0;
    }
}
.banner .heading {
    flex: 1;
    justify-self: center;
    color: white;
    font-size: 3em;
    font-weight: bold;
    position: relative;
    animation: appear 1s ease-in-out 0s forwards;

}

.banner .heading small {
    font-size: 24px;
}

.maintext {
    font-size: 18px;
    padding: 12px;
}

.subtext {
    display: flex;
}

.subtext div {
    padding: 30px;
    margin: 15px;
    border-radius: 10px;
    color: white;
}

.subtext .orange {
    background-color:blueviolet;
}

 .subtext .red {
    background-color: #ff6363;
 }

 .subtext .yellow {
    background-color: #f0a500;
 }

 .subtext .blue {
    background-color: #1eb2a6;
 }

 .subtext .gray {
    background-color:grey;
 }

img{
    width: 200px;
    height: 100%;
}

/* projects */

h3.title {
    font-size: 24px;
    padding: 12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;
}

.projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
  flex-basis: 325px;
  box-sizing: border-box;
  padding: 20px;
  margin: 20px;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
}

.project h4 {
    font-size: 24px;
    padding: 12px;
    margin: 6px;
    border-top: 5px solid #ddd;
    border-bottom: 5px solid #ddd;

}

.project p {
    padding: 0px 12px;
}

.project img {
    width:100% ;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}

.project img:hover {
    transform: scale(0.95);
    opacity: 0.5;
}
 
.project button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    font-size: 12px;

}
.project button:hover{
    background-color: #45a049;
}

/* Gallery */

.gallery-item {
    transition: all 0.25s ease-in;
}





.footer {
    position: sticky;
    top: 100%;
    text-align: center;
    background-color:#aa4caf;

  }





